name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run Python script
        run: python remove-json-comments.py triad-llvm-target.jsonc

      - name: Set up Rust Nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          # Required for custom targets
          components: rust-src

      - name: Rust Cache
        uses: swatinem/rust-cache@v2

      - name: Run Tests
        run: cargo test --target triad-llvm-target.json -Zbuild-std=core,compiler_builtins